body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: yellow;
}
@media screen and (max-width: 1500px)
{
  body
  {
    background-color: crimson;
  }
}
@media screen and (max-width: 1000px)
{
  body
  {
    background-color: cyan;
  }
}
@media screen and (max-width: 750px)
{
  body
  {
    background-color: springgreen;
  }
}
