*
{
  box-sizing: border-box;
}
body
{
  margin: 0;
  background-color: #dddddd;
}
.board
{
  width: 40vw;
  margin: 50px auto;
}
main
{

}
.red
{
  width: 5vw;
  height: 5vw;
  background-color: red;
  float: left;
}
.black
{
  width: 5vw;
  height: 5vw;
  background-color: black;
  float: left;
}
.columnGrid
{
  width: 60vw;
  height: 100vh;
  margin-left: 20vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.header
{
  width: 100%;
  height: 13vh;
  background-color: red;
}
.title
{
  width: 60vw;
  height: 3vh;
  margin: 3% auto;
  background-color: red;
}
.col
{
  width: 18vw;
  height: 50vw;
  background-color: red;
  float: left;
}
.mid
{
  margin-left: 3vw;
  margin-right: 3vw;
}

.footer
{
  width: 100%;
  height: 13vh;
  background-color: red;
  margin-top: 3vh;
  float: left;
}
.blogLayout
{
  width: 65vw;
  margin-left: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.blogHeader
{
  width: 100%;
  height: 13vh;
  background-color: red;
}
.blogPost
{
  margin-top: 10vh;
  width: 100%;
  height: 45vw;
}
.content
{
  width: 75%;
  height: 85%;
  background-color: red;
  float: left;
}
.picture
{
  margin-left: 2%;
  width: 23%;
  height: 50%;
  background-color: red;
  float: left;
}
.comment
{
  margin-top: 2%;
  width: 75%;
  height: 8%;
  background-color: red;
  float: left;
}
